---
import { ArticleLayout } from '@layouts';
import { getCollection, render } from 'astro:content';

// generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<ArticleLayout title={"covalt.dev - " + post.data.title}>
	<h1>{post.data.title}</h1>
	<Content />
</ArticleLayout>