@import 'tailwindcss';
@plugin 'daisyui' {
	themes:
		autumn,
		business,
		caramellatte,
		corporate,
		dim --prefersdark,
		dracula,
		emerald,
		forest,
		light,
		night,
		sunset,
		winter;
}
@plugin '@tailwindcss/typography';

@layer utilities {
	/*
	 * code block styles
	 */
	pre.astro-code {
		line-height: 1.3;
	}

	/*
	 * prose styles
	 */
	.prose-link {
		@apply hover:text-secondary;
		@apply text-accent no-underline transition duration-200;
	}

	/*
	 * theme overrides
	 */
	html[data-theme='dim'] {
		--radius-box: 0.5rem;
	}

	html[data-theme='dracula'] {
		--radius-box: 0.5rem;
	}
}
