---
import { ArticleLayout } from '@layouts';
import { Alert as Alert_ } from '@components';
const calloutText =
	'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.';
const types = ['plain', 'announce', 'info', 'idea', 'note', 'success', 'warning', 'error', 'critical'];
---

<ArticleLayout>
	<div class="flex flex-col">
		{
			types.map((type) => {
				return <Alert_ {type}>{calloutText}</Alert_>;
			})
		}
		<Alert_ title="Default style, overridden title">
			{calloutText}
		</Alert_>

		<Alert_ title="Default style, overridden title & icon" icon="warning">
			{calloutText}
		</Alert_>

		<Alert_ title="" icon="">
			empty title and icon attribute values
		</Alert_>
	</div>
</ArticleLayout>
