---
import { ArticleLayout } from '@layouts';
import { PostPreview as PostPreview_ } from '@components';
---
<ArticleLayout>
	<PostPreview_>
		<div slot="title">Card Title</div>
		I'm some body text. Check me out.
	</PostPreview_>
</ArticleLayout>