---
import { ArticleLayout } from '@layouts';
import { PostPreview as PostPreview_ } from '@components';
---

<ArticleLayout>
	<div class="flex flex-col gap-4">
		standard card
		<PostPreview_ 
			title="Card Title"
			description="I'm some body text. Check me out."
		/>

		standard card, w-[50%]
		<div class="w-[50%]">
			<PostPreview_>
				<div slot="title">Card Title</div>
				I'm some body text. Check me out.
			</PostPreview_>
		</div>

		flex flex-row gap-4
		<div class="flex flex-row gap-4">
			<PostPreview_ href="#" class="min-w-0 flex-1">
				<div slot="title">Card Title</div>
				I'm some body text. Check me out.
			</PostPreview_>
			<PostPreview_ class="min-w-0 flex-1">
				<div slot="title" class="truncate">Card Title That is Irresponsibly Long</div>
				I'm some body text. Check me out.
			</PostPreview_>
			<PostPreview_ class="min-w-0 flex-1">
				<div slot="title">Card Title</div>
				I'm some body text that is quite a bit longer. This should usually just be the description of an article.
			</PostPreview_>
		</div>
	</div>
</ArticleLayout>
