---
import { ArticleLayout, DefaultLayout } from '@layouts';
---

<DefaultLayout title="About covalt.dev">
	<div class="prose xl:prose-lg max-w-[75ch] m-auto p-8 prose-h2:mt-8 prose-h2:mb-4">
		<div>
			<h1 class="mb-0 xl:mb-0">Hi, I'm <span class="text-secondary">Luke Covalt</span></h1>
			<p class="mt-4 xl:mt-4">Staff Software Engineer and ServiceNow Solutions Architect</p>
		</div>

		<h2><span class="text-secondary">// </span>Professional</h2>
		<p>
			I have nearly 20 yaers of experience working in many technology roles, including as a satellite communications
			engineer, network engineer, network security engineer, IT consultant, and software development. Most recently, I
			have focused on building solutions on the ServiceNow platform, holding development team lead, solutions architect,
			and staff software engineer roles.
		</p>

		<h2><span class="text-secondary">// </span>This Site</h2>
		<p>
			I love learning and sharing what I learn with others. I am hoping to expand the audience I am able to communicate
			with by contributing this site. It also gives me a great reason to deep dive into specific topics, helping me
			learn as well. Eventually, I'd like to host a repository of scripts and utilities for others to either use
			directly or reference when building their own solutions.
		</p>
		<p>
			Finally, I want to help address a problem area for many ServiceNow developers - fundamental software engineering
			skills. Many developers focus solely on ServiceNow, inadvertently overlooking core skills that would make them
			a stronger engineer. While some content on this site will be targeted towards ServiceNow, my primary goal will
			always be to build strong, fundamental engineering skills that can transfer anywhere.
		</p>

		<h2><span class="text-secondary">// </span>Personal</h2>
		<p>
			Although I specialize in ServiceNow solutions, I am driven by continuous learning and software engineering as a
			whole. I am constantly exploring new technologies, languages, and frameworks. I created this site to share my
			experiences and hopefully make the journey easier for others in the field. Thanks for visiting!
		</p>
	</div>
</DefaultLayout>
