---
import { ArticleLayout, DefaultLayout } from '@layouts';
---

<DefaultLayout title="About covalt.dev">
	<div class="prose xl:prose-lg max-w-[75ch] m-auto p-8 prose-h2:mt-8 prose-h2:mb-4">
		<div>
			<h1 class="mb-0 xl:mb-0">Hi, I'm <span class="text-secondary">Luke Covalt</span></h1>
			<p class="mt-4 xl:mt-4">Staff Software Engineer and ServiceNow Solutions Architect</p>
		</div>

		<h2><span class="text-secondary">// </span>Professional Background</h2>
		<p>
			I have nearly 20 years of experience working in many technology roles, including as a satellite communications
			engineer, network engineer, network security engineer, IT consultant, and software development. Most recently, I
			have focused on building solutions on the ServiceNow platform, holding development team lead, solutions architect,
			and staff software engineer roles.
		</p>

		<h2><span class="text-secondary">// </span>Website Goal</h2>
		<p>
			I love learning and sharing what I learn with others. I am hoping to expand the audience I am able to communicate
			with by contributing this site. It also gives me a great reason to deep dive into specific topics, helping me
			learn as well. Eventually, I'd like to host a repository of scripts and utilities for others to either use
			directly or reference when building their own solutions.
		</p>

		<h2><span class="text-secondary">// </span>How will it be Different?</h2>
		<p>
			Over the years, I've noticed a recurring problem area, even for senior level ServiceNow developers and architects
			- there is often a lack of focus on fundamental software engineering principles. Because ServiceNow is so large
			and constantly growing, it is easy for developers to focus solely on the ServiceNow platform, neglecting core
			skills that would make them much stronger engineers. I want to help address that gap by sharing modular, scalable
			solutions with a focus on performance, algorithms, design patterns, and more. Although some content on this site
			will be targeted towards ServiceNow, my primary goal is to help build strong engineering skills that can transfer
			to any type of development work.
		</p>

		<h2><span class="text-secondary">// </span>Personal Background</h2>
		<p>
			Although I specialize in ServiceNow solutions, my true passion is simply continuously learning and imroving
			myself. Though my job is focused on ServiceNow solutions, I enjoy working on full-stack projects (like this site)
			in my spare time. Lately, I have been having a lot of fun working with Wails, a desktop application framework that
			uses a web based frontend and Go based backend.
		</p>
		<p>
			My passion for learning has led me to deep dive into many hobbies beyond software development. I am an avid
			Brazilian Jiu Jitsu practitioner, training for over 12 years and receiving my black belt in 2024. I enjoy
			collecting and refurbishing retro video game systems and have built and sold several custom arcade control panels.
			I have built more custom split keyboards than I care to admit and have an irresponsible amount of headphones from
			when I fell deep into the trap of audiophile gear. I also previously ran my own wedding photography business for a
			little over 5 years. I seem to have an uncanny knack of taking my hobbies to an unenjoyable extreme before
			settling back into something more sustainable. I don't know what will come next, but when it does, I'm sure I will
			be all in.
		</p>
	</div>
</DefaultLayout>
