---
import { ArticleLayout, DefaultLayout } from "@layouts";
---

<ArticleLayout title="About covalt.dev">
	<h1>About Me</h1>
	<p>
		Hey there! My name is Luke Covalt. I am a software engineer and
		solutions architect with deep ServiceNow expertise.
	</p>
	<p>
		I have nearly two decades of experience in technology across a variety
		of roles. I have spent much of my career building and improving
		applications, processes, and automation to make global enterprise
		systems more reliable and easier to use. I enjoy tackling complex
		problems, streamlining processes, and helping teams grow through
		collaboration and shared learning.
	</p>
	<p>
		Although I specialize in ServiceNow solutions, I am driven by continuous
		learning and software engineering as a whole. I am constantly exploring
		new technologies, languages, and frameworks. I created this site to
		share my experiences and hopefully make the journey easier for others in
		the field. Thanks for visiting!
	</p>
</ArticleLayout>
