---
import { ArticleLayout } from '@layouts';
import DefaultLayout from '@layouts/DefaultLayout.astro';
import { getCollection, getEntry } from 'astro:content';

const posts = await getCollection('posts', ({ data }) => !data.draft);

function formatDate (dateString: string) {
	let date = new Date(dateString);
	const offset = date.getTimezoneOffset()
	// format date/time as YYYY-MM-DD
	date = new Date(date.getTime() - (offset * 60 * 1000))
	return date.toISOString().split('T')[0]
}
---

<ArticleLayout title="covalt.dev">
	<h1>Posts</h1>

	{posts.map(post => (
    	<li class="list-none">
			<a href={`/posts/${post.id}`} class="link no-underline hover:text-primary">
				{formatDate(post.data.date)} - {post.data.title}
			</a>
		</li>
	))}
</DefaultLayout>