---
import { Link } from '@components';
import { ArticleLayout } from '@layouts';
const modules = import.meta.glob('/src/pages/components/*.astro');

// grab file names only (without extension)
const filenames = Object.keys(modules)
	.filter((p) => !p.endsWith('/index.astro')) // exclude index page
	.map((p) => p.split('/').pop().replace('.astro', ''));
---

<ArticleLayout>
	<ul>
		{
			filenames.map((name) => (
				<li class="list-none">
					<Link href={`/components/${name}`}>{name}</Link>
				</li>
			))
		}
	</ul>
</ArticleLayout>
