---
import { DocumentationLayout } from '@layouts';
import DocsMenuIcon from '@icons/book-open.svg';
---

<DocumentationLayout>
	<div class="text-center lg:mr-64">
		<h2 class="flex justify-center gap-2"><DocsMenuIcon class="w-8" />Documentation</h2>
		<p class="text-base-content/50 mx-auto max-w-[40ch]">
			No documents are currently open. Select an item from the documentation navigation pane on the left to get
			started.
		</p>
	</div>
</DocumentationLayout>
