---
import { DefaultLayout } from '@layouts';
import { Link, RecentPosts } from '@components';
import profilePhoto from '../assets/profile_photo_circle_bw_256.png';
---

<DefaultLayout title="covalt.dev" class="p-8">
	<div class="prose xl:prose-lg m-auto max-w-[80ch]">
		<div class="flex flex-row items-center">
			<div class="flex flex-col">
				<h1 class="mb-0 xl:mb-0">Hi, I'm <span class="text-secondary">Luke Covalt</span></h1>
				<p class="mt-4 mr-4 max-w-[60ch]">
					Staff Software Engineer & Solutions Architect building innovative ServiceNow solutions and
					full-stack applications
				</p>
			</div>
			<img src={profilePhoto.src} class="h-auto-block mr-6 ml-auto max-w-[7rem]" />
		</div>

		<div class="mt-8 mb-16">
			<div class="border-base-content/3 mx-auto w-[66%] border-b-2"></div>
			<p>
				Welcome to my corner of the Internet, where I share whatever it is I'm building, learning, or
				experimenting with. I use this space to share ServiceNow and software development tips, document
				solutions I've found useful, and share the various tools and utilities I build. You can learn more about
				me on the <Link href="/about">About</Link> page or by exploring past <Link href="/posts">posts</Link>.
			</p>
			<div class="border-base-content/3 mx-auto w-[66%] border-b-2"></div>
		</div>

		<h2 class="text-secondary/80 my-8 text-center">Recent Posts</h2>
	</div>
	<RecentPosts limit={3} />
</DefaultLayout>
