---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="covalt.dev">
	<div class="prose xl:prose-lg m-auto p-8">
		<h1 class="mb-0">Hi, I'm <span class="text-secondary">Luke Covalt</span></h1>
		<p class="mt-2 text-base-content">
			Staff Software Engineer & Solutions Architect creating innovative
			ServiceNow solutions by day and full-stack applications by night.
		</p>
		<h2>Under Construction</h2>
		<p>
			This site is a work in progress and will be changing frequently over the
			next few weeks. I'll be prettying up the homepage and adding content soon,
			but in the meantime, head over to the
			<a href="/about" class="prose-link">About</a> section to learn more about me
			or the <a href="/about" class="prose-link">Blog</a> section to view my posts.
		</p>
	</div>
</DefaultLayout>
