---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="covalt.dev">
	<div class="prose xl:prose-lg m-auto p-8">
		<h1>Hi, I'm Luke!</h1>
		<p>
			Staff Software Engineer & Solutions Architect creating innovative
			ServiceNow solutions by day and full-stack applications by night.
		</p>
	</div>
</DefaultLayout>
