---
import { Link } from '@components';
import CodeIcon from '@icons/code-bracket.svg';
const { entry } = Astro.props;
const sourceLink = Astro.url.pathname.replace('/source', '');
const sourceView = Astro.url.pathname.endsWith('/source');
---

<div class="not-prose">
	<ul class="m-0 mb-6 list-none p-0">
		<li><span class="font-extrabold">Platform</span>: {entry.data.env.platform}</li>
		<li><span class="font-extrabold">Runtime</span>: {entry.data.env.runtime}</li>
		<li><span class="font-extrabold">Resource Type</span>: {entry.data.env.resource}</li>
		{
			!sourceView && (
				<li>
					<Link href={`${sourceLink}/source`} class="flex items-center">
						<CodeIcon class="w-5" />
						View Source
					</Link>
				</li>
			)
		}
	</ul>
</div>
