<div class="dropdown">
	<div tabindex="0" role="button" class="btn btn-ghost rounded-box md:hidden translate-y-1">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="size-6"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
		</svg>
	</div>
	<ul
		tabindex="0"
		class="menu dropdown-content bg-base-200 rounded-box z-1 mt-4 w-52 p-2 shadow"
	>
		<!-- menu list items slot -->
		<slot />
	</ul>
</div>
