---
import { PostFooterPreview } from '@components';
import ArrowLeft from '@icons/arrow-left.svg';
import ArrowRight from '@icons/arrow-right.svg';
const { prev, next } = Astro.props;
---

<div class="border-base-content/3 mx-auto mt-12 mb-6 border-b-2"></div>
<div class="flex min-h-[4rem] flex-row justify-between">
	{
		prev && (
			<PostFooterPreview
				IconStart={ArrowLeft}
				title={prev.data.title}
				class="max-w-[30%] min-w-0 flex-1"
				href={'/posts/' + prev.data.slug}
			/>
		)
	}
	{
		next && (
			<PostFooterPreview
				IconEnd={ArrowRight}
				title={next.data.title}
				class="max-w-[30%] min-w-0 flex-1"
				href={'/posts/' + next.data.slug}
			/>
		)
	}
</div>
