---
import { getCollection } from 'astro:content';
import { PostPreview } from '@components';
const { limit } = Astro.props;

let posts = await getCollection('posts', ({ data }) => !data.draft);
// sort posts from newest to oldest
posts = posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
let featuredPost = posts[0];
posts = posts.length >= limit ? posts.slice(1, limit) : posts;
---

<div class="divide-base-content/20 mx-auto mt-8 flex max-w-full flex-col gap-4">
	<PostPreview post={featuredPost} featured />
	<div class="flex flex-row flex-wrap justify-center gap-6">
		{posts.map((post) => <PostPreview {post} class="min-w-80 flex-1" />)}
	</div>
</div>
