---
import ThemeColors from "../../node_modules/daisyui/theme/object";
const themes = Object.keys(ThemeColors).sort();
---

<div title="Change Theme" class="dropdown dropdown-end block">
	<!-- menu button/active theme indicatos -->
	<div
		tabindex="0"
		role="button"
		class="btn btn-ghost px-1.5 py-2"
		aria-label="Change Theme"
	>
		<div
			class="bg-base-100 group-hover:border-base-content/20 border-base-content/10 grid grid-flow-row shrink-0 grid-cols-2 gap-0.5 rounded-md border p-1 transition-colors"
		>
			<span class="bg-base-content size-2 rounded-full"></span>
			<span class="bg-primary size-2 rounded-full"></span>
			<span class="bg-secondary size-2 rounded-full"></span>
			<span class="bg-accent size-2 rounded-full"></span>
		</div>
		<svg
			width="12px"
			height="12px"
			class="mt-px hidden size-2 fill-current opacity-60 sm:inline-block"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 2048 2048"
			><path
				d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"
			></path></svg
		>
	</div>

	<!-- dropdown theme selector -->
	<div
		tabindex="0"
		class="dropdown-content bg-base-200 text-base-content rounded-box h-auto max-h-[calc(100vh-8.6rem)] overflow-y-auto border border-white/5 shadow-lg outline-1 outline-black/5 mt-4"
	>
		<ul class="menu w-56 px-0">
			<li class="menu-title text-xs">Theme</li>
			{
				themes.map((theme) => {
					return (
						<li class="p-0">
							<label class="flex items-center justify-start gap-1 w-full p-1.5 border-none outline-none rounded-none">
								<div
									class="inline-grid grid-cols-2 grid-flow-row gap-0.5 w-fit flex-none
										bg-base-100 border border-base-content/10 rounded-md p-1
										group-hover:border-base-content/20 transition-colors"
									style={`background-color: ${ThemeColors[theme]["--color-base-100"]};`}
								>
									<span
										class="size-2 rounded-full bg-base-content"
										style={`background-color: ${ThemeColors[theme]["--color-base-content"]};`}
									/>
									<span
										class="size-2 rounded-full bg-primary"
										style={`background-color: ${ThemeColors[theme]["--color-primary"]};`}
									/>
									<span
										class="size-2 rounded-full bg-secondary"
										style={`background-color: ${ThemeColors[theme]["--color-secondary"]};`}
									/>
									<span
										class="size-2 rounded-full bg-accent"
										style={`background-color: ${ThemeColors[theme]["--color-accent"]};`}
									/>
								</div>

								<input
									type="radio"
									name="theme-dropdown"
									value={theme}
									aria-label={theme}
									class="theme-controller sr-only"
								/>
								<span class="ml-1 truncate">{theme}</span>
							</label>
						</li>
					);
				})
			}
		</ul>
	</div>
</div>
