---
import AnnounceIcon from './AnnounceIcon.svg';
import IdeaIcon from './IdeaIcon.svg';
import InfoIcon from './InfoIcon.svg';
import SuccessIcon from './SuccessIcon.svg';
import WarningIcon from './WarningIcon.svg';
import ErrorIcon from './ErrorIcon.svg';
import CriticalIcon from './CriticalIcon.svg';

const { sev='info', icon=sev, title=sev } = Astro.props;
const iconMap = {
	'announcement': AnnounceIcon,
	'idea': IdeaIcon,
	'info': InfoIcon,
	'success': SuccessIcon,
	'caution': WarningIcon,
	'warning': WarningIcon,
	'error': ErrorIcon,
	'critical': CriticalIcon
};
const Icon = iconMap[icon] ?? InfoIcon;
const styles = {
	solid: ''
}
---
<div class={`callout callout-${sev}`}>
	{
		() => {
			if (!title) return;
			return (
				<span class="font-extrabold flex items-center gap-2 callout-title">
					<Icon class="size-5 inline-block align-middle relative top-px"/>
					{ title }
				</span> 
			);
		}
	}
	<slot />
</div>