---
import DefaultLayout from "./DefaultLayout.astro";
const { title="covalt.dev" } = Astro.props;
---

<DefaultLayout {title}>
	<div class="prose xl:prose-lg max-w-[75ch] m-auto p-8">
		<slot />
	</div>
</DefaultLayout>
