---
import DefaultLayout from './DefaultLayout.astro';
const { title = 'covalt.dev' } = Astro.props;
---

<DefaultLayout {title}>
	<div class="prose xl:prose-lg mx-auto max-w-[75ch] p-8">
		<slot />
	</div>
</DefaultLayout>
