---
import '../styles/global.css';
import { Header } from '@components';
import { defaultTheme } from 'src/config';
const { title = 'covalt.dev', class: classes } = Astro.props;
---

<html lang="en" data-theme-default={defaultTheme}>
	<head>
		<script is:inline>
			const theme = localStorage.getItem('theme') || document.documentElement.getAttribute('data-theme-default');
			if (theme && theme !== document.documentElement.getAttribute('data-theme')) {
				document.documentElement.setAttribute('data-theme', theme);
			}
		</script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<title>{title}</title>
	</head>
	<body>
		<div class="bg-base-200/70 mx-auto">
			<Header class="mx-auto max-w-7xl" />
		</div>
		<div class="mx-auto max-w-7xl">
			<div class:list={[classes, 'flex flex-1 flex-col']}>
				<slot />
			</div>
		</div>

		<script src="/scripts/copy-code.js" type="module"></script>
	</body>
</html>
