---
import DefaultLayout from './DefaultLayout.astro';
import { DocsNav } from '@components';
import { getCollection } from 'astro:content';
import DocsMenuIcon from '@icons/book-open.svg';

const { title = 'covalt.dev' } = Astro.props;
const entries = await getCollection('sourceCode');
---

<DefaultLayout {title}>
	<div class="drawer lg:drawer-open min-h-screen flex-1">
		<input id="docs-nav-drawer" type="checkbox" class="drawer-toggle" />

		<div class="drawer-content flex flex-col">
			<!-- documentation menu button - hidden on large screens -->
			<div class="px-4 pt-2 pb-1 lg:hidden">
				<label
					for="docs-nav-drawer"
					class="btn gap-2 px-2 py-1 font-semibold"
					aria-label="Open documentation navigation"
				>
					<DocsMenuIcon class="w-5" />
				</label>
			</div>

			<div class="flex flex-1">
				<!-- main content slot -->
				<div class="prose xl:prose-lg prose-docs mx-auto w-full max-w-[90ch] min-w-0 p-8">
					<slot />
				</div>
			</div>
		</div>

		<!-- Docs menu -->
		<div class="drawer-side">
			<label for="docs-nav-drawer" class="drawer-overlay" aria-label="Close sidebar"></label>

			<div class="bg-base-100 min-h-full w-64">
				<DocsNav entries={entries} class="h-full w-full" />
			</div>
		</div>
	</div>
</DefaultLayout>
